<%= form_with(model: movie, local: true) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br>
  <div>
    <%= form.text_field :title, class: "form-control", placeholder: "Title" %>
  </div>
<br>

  <div>
    <%= form.text_area :description,  class: "form-control", placeholder: "description" %>
  </div>
<br>

  <div >
    <%= form.text_field :movie_length, class: "form-control", placeholder: "movie_length" %>
  </div>
<br>

  <div class="field">
    <%= form.text_field :director, class: "form-control", placeholder: "director" %>
  </div>
<br>

  <div class="field">
    <%= form.text_field :rating, class: "form-control", placeholder: "rating"%>
  </div>
  <br>

   <div class="field">
    <%= form.label :image %>
     <br>
    <%= form.file_field :image%>
  </div>
<br>
  <div class="field"
    <%= form.label :category %>
     <br>
    <%= form.select(:category, Movie.categories.keys.map {|category| [category.titleize,category]}) %>
  </div>
<br>
  <div class="actions">
    <%= form.submit class: "btn btn-primary btn-block" %>
  </div>
<% end %>


