<%= simple_form_for(movie) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br>
  <div>
    <%= form.text_field :title, class: "form-control", placeholder: "Title" %>
  </div>
<br>

  <div>
    <%= form.text_field :description,  class: "form-control", placeholder: "Youtube Trailer URL"  %>
  </div>
<br>

  <div >
    <%= form.text_field :movie_length, class: "form-control", placeholder: "Movie Length" %>
  </div>
<br>

  <div class="field">
    <%= form.text_field :director, class: "form-control", placeholder: "Director" %>
  </div>
<br>

   <div class="field">
     <br>
    <%= form.file_field :image %>
  </div>
<br>
  <div class="field">
     <br>
    <%= form.input :category, as: :select, collection: ["Arabic", "Internacional"], label: false, input_html: { class: "form-control", prompt: "Select the category" } %>
  </div>
<br>
  <div class="actions">
    <%= form.submit class: "btn btn-primary btn-block" %>
  </div>
<% end %>


