
<div class="home-page-banner__wrapper">
  <div class="home-page-banner__content col-xs-6">
    <div class="home-page-banner__title">
      <h1><span>@br@r</span> Movies </h1>
      <h2> Discover the <span class="outer"><strong>Arabic Culture</strong></span> through Film </h2>
    </div>
    <div class="home-page-banner__search">
      <%= render 'shared/components/search' %>
    </div>
    <% if !user_signed_in? %>
      <div class="home-page-banner__cta">
        <em>or</em><br><br>
        <%= link_to "<strong>Sign up to my heart <i class=\"fa fa-heart\"></i> </strong>".html_safe, new_user_registration_path,class: "btn btn-success" %>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <%= button_tag "", class: "fa fa-arrow-down" %>
      </div>
    <% end %>
  </div>
</div>

<div class="home-page-movies__wrapper">
    <div class="home-page-movies__first-row row">
      <div class="home-page-movies__left-column col-md-6">
        <center><div class="text_lable"><font  color="white"><h1><i class="fa fa-moon-o"></i> Discover Arabic Movies here</h1></font></div></center>
        <% @movies.where(category: :arabic).each do |movie| %>
        <div class="col-sm-12 col-md-4">
          <div class="thumbnail">
            <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
          </div>
        </div>
        <% end %>
      </div>
      <div class="home-page-movies__right-column col-md-6">
        <center><div class="text_lable"><font  color="white"><h1><i class="fa fa-globe"></i> Or let me know what movies you like </h1></font></div></center>
        <% @movies.where(category: :international).each do |movie| %>
        <div class="col-sm-12 col-md-4">
          <div class="thumbnail">
            <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=450&layout=standard&action=like&size=small&show_faces=true&share=true&height=80&appId" width="450" height="80" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
</div>

<br>
<center>
</center>
<div class="video-background">
  <div class="video-foreground">
    <iframe src="https://www.youtube.com/embed/W0LHTWG-UmQ?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=W0LHTWG-UmQ" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<br>

<% content_for :after_js do %>
  <script>
    $('.fa-arrow-down').on('click',function() {
      window.scrollTo( 0, 930 );
    });
  </script>
<% end %>
