<div class="container">

   <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
       <div class="size_search">
            <div class="search">
              <form action="/movies"  role="Search">
                <input type="text" class="searchTerm2" placeholder="Search movies" name="search">
                <button  type="submit" class="searchButton2">
                  <i class="fa fa-search"></i></i>
                </button>
              </form>
            </div>
        </div>
      </div>
  </div>
<br>


  <div class="row">
      <div class="col-md-offset-1 col-md-4">
        <%= image_tag @movie.image.url(:medium) %>
        <div class="table-responsive">
          <table class="table">
          <tbody>
             <tr>
              <td>
              <div class="star-rating" data-score="<%= @avg_review %>" ></td>
              <td><em><%= "#{@reviews.length} reviews" %></em></td>
             </tr>

            <tr>
              <td><strong>Title:</strong></td>
              <td><%= @movie.title %></td>
            </tr>
            <tr>
           <td> <strong>Movie length:</strong></td>
            <td><%= @movie.movie_length %></td>
            </tr>
            <tr>
            <td><strong>Director:</strong></td>
            <td ><%= @movie.director %></td>
            </tr>
             <tr>
            <td><strong>Rating:</strong></td>
            <td><%= @movie.rating %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-offset-1 col-md-5">
      <h1 class="review_title"><%= @movie.title %></h1>
      <div class="videowrapper">
        <iframe width="560" height="315" src="<%= @movie.description %>" frameborder="0" allowfullscreen></iframe>
      </div>
      <br>
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#newReview">Write a Review</button>
      <%= link_to 'Edit', edit_movie_path(@movie) ,class: "btn btn-default" %> |
      <%= link_to 'Back', movies_path ,class: "btn btn-default" %>

      <% if @reviews.blank? %>
        <h3>No reviews just yet , would you like to add the first!</h3>
       <% else %>
        <% @reviews.each do |review| %>
        <div class="reviews">
          <div class="star-rating" data-score="<%= review.rating %>" > </div>
          <p><%= review.comment %></p>
        </div>
        <% end %>
      <% end %>
   </div>
  </div>
</div>


<!-- Modal -->
<div id="newReview" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Write a Review</h4>
      </div>
      <div class="modal-body">
        <%= render 'reviews/form'  %>
      </div>
    </div>

  </div>
</div>

<div class="video-background">
    <div class="video-foreground">
      <iframe src="https://www.youtube.com/embed/W0LHTWG-UmQ?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=W0LHTWG-UmQ" frameborder="0" allowfullscreen></iframe>
    </div>
</div>

<% content_for :after_js do %>
  <script>
    $(document).ready(function() {
      $('.star-rating').raty({
        path: '/assets/',
         readOnly: true,
          score: function() {
        return $(this).attr('data-score');
      }
      });
    });
  </script>
<% end %>
