<!DOCTYPE html>
<html>
  <head>

    <title>MovieReview</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

  <div class="application-layout__wrapper">
    <%= render 'layouts/shared/navbar' %>
    <%= render 'layouts/shared/flashes' %>
    <%= yield %>
  </div>

  <%= render 'layouts/shared/footer' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= yield(:after_js) %>

  </body>
</html>
